#wpwrap {
	background-color: #FFF;
}

tr>:not(th) {
	background-color: #FFF;
	transition: 0.5s;
}

tr:hover>:not(th) {
	background-color: #CCC;
}

.manage {
	margin-top: 5px;
}

input[type=radio] {
	margin-right: 15px;
}