.premade_buttons div {
	display: block;
	margin: 10px;
	margin-top: 30px;
}

.premade_buttons a {
	padding: 10px;
	margin: -10px;
	text-decoration: none;
}

.premade_buttons a:hover {
	text-decoration: underline;
}